<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.locationservice.dao.FileDao" >
    <resultMap id="DeviceResultMap" type="com.buaa.locationservice.excel.DeviceExcelModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="device_number" jdbcType="VARCHAR" property="deviceNumber" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    </resultMap>

    <select id="getAll" resultMap="DeviceResultMap">
          select id,device_number,device_name
          from device_info
          order by id asc
    </select>

</mapper>